<!DOCTYPE html>
<html>
<head>
    <title>D.Han</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/base.js"> </script>
    <meta charset="utf-8">
</head>
<body>
    <form name="searchform" id="searchform" method="post">
        <input type="textfield" id="searchtext" name="keyword"><br>
        <!-- <input type="button" id="submit" name="submit" value="Search"> -->
        <input type="submit" id="submit" name="submit" value="Search">
    </form>

    <div class="search_result">
    </div>

    <br>
    {% for items in found_list %}
    <p> {{ event_list[items]['id'] }}: {{ event_list[items]['title'] }} </p>
    {% endfor %}

</body>
</html>